html, body {
    animation-name: background_change;
    animation-direction: alternate-reverse;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-image: url("../images/background-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    top: 20px;
}

@keyframes background_change {
    from {
        background-image: url("../images/background-1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    to {
        background-image: url("../images/background-4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@-webkit-keyframes background_change {
    from {
        background-image: url("../images/background-1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    to {
        background-image: url("../images/background-4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@-moz-keyframes background_change {
    from {
        background-image: url("../images/background-1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    to {
        background-image: url("../images/background-4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@-ms-keyframes background_change {
    from {
        background-image: url("../images/background-1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    to {
        background-image: url("../images/background-4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@-o-keyframes background_change {
    from {
        background-image: url("../images/background-1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    to {
        background-image: url("../images/background-4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@keyframes change_border {
    from {
        border-radius: 0px 15px;
    }

    to {
        border-radius: 15px 0px;
    }
}

@-webkit-keyframes change_border {
    from {
        border-radius: 0px 15px;
    }

    to {
        border-radius: 15px 0px;
    }
}

@-moz-keyframes change_border {
    from {
        border-radius: 0px 15px;
    }

    to {
        border-radius: 15px 0px;
    }
}

@-ms-keyframes change_border {
    from {
        border-radius: 0px 15px;
    }

    to {
        border-radius: 15px 0px;
    }
}

@-o-keyframes change_border {
    from {
        border-radius: 0px 15px;
    }

    to {
        border-radius: 15px 0px;
    }
}

#current_weather {
    order: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 30rem;
    border: none;
    border-radius: 0 15px;
    box-shadow: 8px 12px 15px 3px #3d3d3d;
    background: rgb(2,0,36);
    background: -webkit-linear-gradient(top, rgba(2,0,36,1) 0%, rgba(73,152,203,1) 0%, rgba(217,119,59,1) 45%, rgba(77,210,241,1) 100%);
    background: -o-linear-gradient(top, rgba(2,0,36,1) 0%, rgba(73,152,203,1) 0%, rgba(217,119,59,1) 45%, rgba(77,210,241,1) 100%);
    background: linear-gradient(to bottom, rgba(2,0,36,1) 0%, rgba(73,152,203,1) 0%, rgba(217,119,59,1) 45%, rgba(77,210,241,1) 100%);
    animation-name: change_border;
    animation-direction: alternate-reverse;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#weather_div {
    order: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: transparent;
    text-align: center;
}

#place_day {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

#weather_div #temp {
    align-self: center;
}

#solar_div {
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: transparent;
}

#atmos_div {
    order: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: transparent;
}

#atmos_1 {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-bottom: 30px;
}

#atmos_2 {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-bottom: 30px;
}

#atmos_3 {
    order: 3;
    align-self: center;
}

#wind_div {
    order: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: transparent;
}

@media only screen and (max-width: 720px) {
    #current_weather {
        width: 22rem;
    }

    #place_day {
        flex-direction: column;
        align-self: center;
    }
}